:root {
  --grandient: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  background-color: #fafafa;
  font-family: "Helvetica Neue", "Hiragino Sans", "Yu Gothic", "YuGothic", "Segoe UI", "Meiryo", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #333;
  height: 100%;
}

div, section, article,
h1, h2, h3, h4, h5, h6,
p, a, span, ul, ol, li, dd, dt, input, button,
blockquote {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.8;
  font-feature-settings: "palt";
}

h1 {
  font-family: "Jaldi", "Helvetica Neue", "Hiragino Sans", "Yu Gothic", "YuGothic", "Segoe UI", "Meiryo", sans-serif;
  font-size: 1.96rem;
  letter-spacing: calc(1.96rem * 0.1);
  color: #0779e4;
  background: linear-gradient(90deg, #0779e4, #4cbbb9);
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 2.744rem;
  letter-spacing: calc(2.744rem * 0.05);
}

h3 {
  font-size: 1.96rem;
  letter-spacing: calc(1.96rem * 0.05);
}

p, a, li, span, button {
  letter-spacing: calc(1.4rem * 0.05);
}

li {
  list-style: none;
}

.secHead {
  font-family: "Jaldi", "Helvetica Neue", "Hiragino Sans", "Yu Gothic", "YuGothic", "Segoe UI", "Meiryo", sans-serif;
  font-size: 1.96rem;
  letter-spacing: calc(1.96rem * 0.1);
  margin-bottom: 1.26rem;
}

.grid {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: auto 1fr;
}

.header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 1.26rem 2.52rem;
  border-bottom: 1px solid #f0f0f0;
  position: sticky;
  top: 0;
}

.filter {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: sticky;
  top: 80px;
  height: calc(100vh - 100px);
  padding: 0 2.52rem;
  overflow-y: scroll;
}

.filter__item {
  user-select: none;
  margin-bottom: 1.26rem;
  cursor: pointer;
  color: #aaa;
  transition: all .3s ease;
  position: relative;
}

.filter__item:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #0779e4;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

.filter__item:hover:after {
  transform: scale(1, 1);
}

.filter-checked {
  color: #0779e4;
  position: relative;
  padding-left: 16px;
}

.filter-checked:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 0;
  width: 8px;
  height: 4px;
  border-left: 1px solid #0779e4;
  border-bottom: 1px solid #0779e4;
  transform: rotate(-45deg);
}

.contents {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  width: 100%;
  min-height: 100vh;
  padding: 1.26rem 0;
  border-left: 1px solid #f0f0f0;
}

.contents .chapter__wrapper {
  width: 80%;
  margin: 0 auto;
}

.contents .secHead {
  margin-left: -1.8rem;
  width: 80%;
  margin: 0 auto;
}

.contents h2 {
  padding-left: 1.4rem;
  margin-left: -1.8rem;
  position: relative;
}

.contents h2:before {
  content: "";
  width: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #0779e4, #4cbbb9);
}

.contents ul {
  padding-left: 1.26rem;
}

.contents ul ul ul li {
  margin-bottom: 2.52rem;
  cursor: pointer;
  background-color: #f5f5f5;
  margin-left: -1.26rem;
  padding: 1.26rem;
  border: 2px solid transparent;
  transition: all .3s ease;
  position: relative;
  box-sizing: border-box;
}

.contents ul ul ul li:hover {
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(45deg, #0779e4, #4cbbb9);
}

.contents ul ul ul li:after {
  content: "Click to copy";
  position: absolute;
  right: 0;
  bottom: 100%;
  background: linear-gradient(180deg, #0779e4, #4cbbb9);
  color: #fafafa;
  padding: 0 1.26rem;
  font-family: "Jaldi", "Helvetica Neue", "Hiragino Sans", "Yu Gothic", "YuGothic", "Segoe UI", "Meiryo", sans-serif;
  border-radius: 3px 3px 0 0;
  opacity: 0;
  transition: all .3s ease;
}

.contents ul ul ul li:hover:after {
  opacity: 1;
}

.copied {
  position: relative;
}

.copied:before {
  content: "Copied!";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-color: rgba(250, 250, 250, 0.8);
  text-align: center;
  font-family: "Jaldi", "Helvetica Neue", "Hiragino Sans", "Yu Gothic", "YuGothic", "Segoe UI", "Meiryo", sans-serif;
  color: #666;
  font-size: 3.8416rem;
}
